html {
  font-size: 20px
}
tr:nth-child(odd) {
  background-color: white;
}
tr:nth-child(even) {
  background-color: #ebf5fd;
}
table th {
  background-color: #67afe6;
  color: white;
  text-align: center;
}
#share {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem
}
table {

}
